#mainh{
    background-color: rgb(206, 206, 206);
    margin-bottom: 0px;
    height: 70px;
    padding-left: 20px;
    padding-top: 2px;
}

a{
    text-decoration: none;
    color: #ffffff;
    /* margin-top: 5px; */
    border-left: 2px solid white;
    padding: 10px 2px 10px 2px;
}
li{
    float: left;
    display: block;
    
    margin-right: 15px;

 
    
    
}
#ul{
    background-color: rgb(43, 46, 43);
    height: 40px;
  
    
   
}
h1{
    margin-bottom: 0px;
}
ul{
    margin-top: 0px;
    padding-top: 10px;
    margin-left: 0px;
    padding-left: 0px;
}
#for{
    padding: 4px 10px 5px 0px;
    background-color: rgb(19, 138, 29);
    border-top: 2px solid green;
}
